# exclude everything
*

# allow .gitignore file
!.gitignore

# allow specific files
!.zshrc
!.zprofile

# allow specific directories and their contents
!.config/
!.config/**

# ignore default configs
.config/neofetch

