# exclude everything
*

# allow .gitignore file
!.gitignore

# allow specific files
!.zshrc
!.zprofile
!.zshenv

# allow specific directories and their contents
!.config/
!.config/**

# ignore defaults & redundants
.config/neofetch
.config/nnn
.config/coc
.config/.DS_Store
.config/qBittorrent
.config/vim/plugged
.config/vim/autoload
.config/alacritty/themes

