.config/BraveSoftware/
.config/spotify/
.config/procps
.cache
.fehbg
.gnupg
.gitconfig
.local
.Xauthority
.mozilla
.pki
Coding
Desktop
Documents
Downloads
Git-Packages
Music
Pictures
Public
Templates
Videos
